diffusers==0.25.0
torch==2.0.1
torchvision==0.15.2
transformers==4.43.3
opencv-python
einops
ftfy
basicsr
facexlib
insightface
onnxruntime-gpu
accelerate
huggingface-hub
timm
SentencePiece
fire
safetensors
numpy==1.24.1
