diffusers==0.25.0
torch==2.1.0
torchvision==0.16.0
transformers==4.43.3
opencv-python
einops
ftfy
basicsr
facexlib
insightface
onnx==1.13.1
onnxruntime-gpu
onnxruntime==1.14.1
accelerate
huggingface-hub
timm
SentencePiece
fire
safetensors
numpy==1.24.1
